@model IEnumerable<Personal>;

<h1>PERSONAL</h1>
<br />
<!--
<form asp-action="PersonalIndex" method="get">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="lblNombre">Nombre:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="text" id="txtNombrePersonal" name="nombrePersnal" class="form-control" placeholder="Nombre de Persona" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <button class="btn btn-primary" id="btnBuscarPersonal">Buscar</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input class="form-control" type="text" id="searchInput" placeholder="Ingrese término de búsqueda" />
            </div>
        </div>

    </div>
</form>
-->

<button id="btnAgregarPersonal" class="btn btn-primary">Agregar Personal</button>

<br />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Primer Nombre</th>
            <th>Primer Apellido</th>
            <th>Cedula</th>
            <!--<th>Detalle</th>
            <th>Precio</th>
            <th>cantidad</th>
            <th>Fecha Creacion</th>
            <th>Activo</th>
            <td>Actualizar</td>
            <td>Eliminar</td>-->
            <!-- Agrega más columnas según las propiedades de TblProducto -->
        </tr>
    </thead>
    <tbody id="userData">
        @foreach (var personal in Model)
        {
            <tr>
                <td>@personal.Id</td>
                <td>@personal.PNombre</td>
                <td>@personal.PApellido</td>
                <td>@personal.Cedula</td>
                <!--<td>@*producto.Detalle</td>
                <td>@producto.Precio</td>
                <td>@producto.Cantidad</td>
                <td>@producto.FechaCreacion</td>
                <td>@producto.Activo</td>-->*@
                <td>
                    <a asp-controller="personal" asp-action="EditarPersonal" asp-route-id="@personal.Id">Actualizar</a>
                </td>
                <td>
                    <a asp-controller="personal" asp-action="EliminarPersonal" asp-route-id="@personal.Id">Eliminar</a>
                </td>
                <!-- Agrega más columnas según las propiedades de TblUsuario -->
            </tr>
        }
    </tbody>
</table>
